.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  color: black;
  white-space: nowrap;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #6846c7;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 60px;
  filter: brightness(10);
}
