{{ diagnostic }}
<div class="gios-wrapper">
  <h1>CLAIMS AUTOMATION</h1>
  <form #autoEiForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row row-header">
      <div class="row-item">
        <h1>Name</h1>
      </div>
      <div class="row-item">
        <h1>Date</h1>
      </div>
      <div class="row-item">
        <h1>Release</h1>
      </div>
      <!-- =============================projects============================================= -->
      <div class="row-item">
        <h1>Projects</h1>
      </div>
      <!-- =============================Test case Executed============================================= -->
      <div class="row-item">
        <h1>Test Case Executed</h1>
      </div>
      <!-- =============================Time taken ============================================= -->
      <div class="row-item">
        <h1>Time Taken</h1>
      </div>
      <!-- =============================Test case fixed============================================= -->
      <div class="row-item">
        <h1>Test Case Fixed</h1>
      </div>
      <!-- =============================Time taken============================================= -->
      <div class="row-item">
        <h1>Time Taken</h1>
      </div>
      <!-- =============================New scripts created============================================= -->
      <div class="row-item">
        <h1>New Scripts Created</h1>
      </div>
      <!-- =============================Time taken============================================= -->
      <div class="row-item">
        <h1>Time Taken</h1>
      </div>
      <!-- =============================Defects Raised============================================= -->
      <div class="row-item">
        <h1>Defects Raised</h1>
      </div>
      <!-- =============================Downtime============================================= -->
      <div class="row-item">
        <h1>Downtime</h1>
      </div>
      <!-- =============================Other Activities============================================= -->
      <div class="row-item">
        <h1>Other Activities</h1>
      </div>
      <!-- =============================Time Taken============================================= -->
      <div class="row-item">
        <h1>Time Taken</h1>
      </div>
      <!-- =============================Remarks============================================= -->
      <div class="row-item">
        <h1>Remarks</h1>
      </div>
    </div>

    <!-- =================================================================================================== -->
    <div>
      <div class="row row-body">
        <!-- =============================NAME============================================= -->
        <div class="row-item">
          <div class="form-input">
            <input
              type="String"
              id="autoclaimsName"
              [(ngModel)]="model.name"
              name="autoclaimsName"
              #autoclaimsName
            />
          </div>
        </div>
        <!-- =============================DATE============================================= -->
        <div class="row-item">
          <div class="form-input">
            <input
              type="date"
              id="autoclaimsDate"
              [(ngModel)]="model.date"
              name="date"
              #autoclaimsDate
            />
          </div>
        </div>
        <!-- =============================Release============================================= -->
        <div class="row-item">
          <div class="form-input">
            <input
              type="String"
              id="autoclaimsRelease"
              [(ngModel)]="model.release"
              name="autoclaimsRelease"
              #autoclaimsRelease
            />
          </div>
        </div>

        <!-- =============================Other Projects============================================= -->
        <div class="row-item">
          <div class="form-input">
            <select
              id="autoclaimsProjects"
              name="projects"
              [(ngModel)]="model.projects"
            >
              <option *ngFor="let task of otherProjects" [value]="task">
                {{ task }}
              </option>
            </select>
          </div>
        </div>
        <!-- =============================Test case Executed============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimstestCaseExecuted"
              [(ngModel)]="model.testCaseExecuted"
              name="testCaseExecuted"
              #autoclaimstestCaseExecuted
            />
          </div>
        </div>
        <!-- =============================Test case Executed time taken============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimstestCaseExecutedTimeTaken"
              [(ngModel)]="model.testCaseExecutedTimeTaken"
              name="testCaseExecutedTimeTaken"
              #autoclaimstestCaseExecutedTimeTaken
            />
          </div>
        </div>
        <!-- =============================Test case fixed============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimstestCaseFixed"
              [(ngModel)]="model.testCaseFixed"
              name="testCaseFixed"
              #autoclaimstestCaseFixed
            />
          </div>
        </div>
        <!-- =============================Test case fixedtime taken============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimstestCaseFixedTimeTaken"
              [(ngModel)]="model.testCaseFixedTimeTaken"
              name="testCaseFixedTimeTaken"
              #autoclaimstestCaseFixedTimeTaken
            />
          </div>
        </div>

        <!-- =============================New Scripts Created============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimsnewScriptsCreated"
              [(ngModel)]="model.newScriptsCreated"
              name="newScriptsCreated"
              #autoclaimsnewScriptsCreated
            />
          </div>
        </div>
        <!-- =============================New Scripts Created time taken============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimsnewScriptsCreatedTimeTaken"
              [(ngModel)]="model.newScriptsCreatedTimeTaken"
              name="newScriptsCreatedTimeTaken"
              #autoclaimsnewScriptsCreatedTimeTaken
            />
          </div>
        </div>

        <!-- =============================Defect Raised============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimsdefectsRaised"
              [(ngModel)]="model.defectsRaised"
              name="defectsRaised"
              #autoclaimsdefectsRaised
            />
          </div>
        </div>
        <!-- =============================Downtime ============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimsdownTime"
              [(ngModel)]="model.downTime"
              name="downTime"
              #autoclaimsdownTime
            />
          </div>
        </div>

        <!-- =============================OtherActivities============================================= -->
        <div class="row-item">
          <div class="form-input">
            <select
              id="autoclaimsOtherActivities"
              name="otherActivities"
              [(ngModel)]="model.otherActivities"
            >
              <option *ngFor="let task of otherTasks" [value]="task">
                {{ task }}
              </option>
            </select>
          </div>
        </div>

        <!-- =============================time taken============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="number"
              id="autoclaimsotherActivitiesTimeTaken"
              [(ngModel)]="model.otherActivitiesTimeTaken"
              name="otherActivitiesTimeTaken"
              #autoclaimsotherActivitiesTimeTaken
            />
          </div>
        </div>
        <!-- =============================Remarks============================================= -->

        <div class="row-item">
          <div class="form-input">
            <input
              type="text"
              id="autoclaimsRemarks"
              [(ngModel)]="model.remarks"
              name="remarks"
              #autoclaimsRemarks
            />
          </div>
        </div>
        <!-- ========================================================================== -->


        <div class="row-item sml-mrgn-lft">
          <button type="submit" class="sml-btn" (click)="addClaimsAuto(model)">Add</button>
        </div>
      </div>
    </div>

<div *ngIf="autoClaimsAutoItems.length > 0">
  <div class="row row-body" *ngFor="let item of autoClaimsAutoItems; index as i">
    <div class="row-item">
      <p>{{item.name}}</p>
    </div>
    <div class="row-item">
      <p>{{item.Date}}</p>
    </div>
    <div class="row-item">
      <p>{{item.Release}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.projects}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.testCaseExecuted}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.testCaseExecutedTimeTaken}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.testCaseFixed}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.testCaseFixedTimeTaken}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.newScriptsCreated}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.newScriptsCreatedTimeTaken}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.defectsRaised}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.downTime}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.otherActivities}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.otherActivitiesTimeTaken}}</p>
    </div>
    <div class="row-item">
      <p>{{item?.remarks}}</p>
    </div>
    <a class="removeBtn" (click)="removeClaimsAuto(i)">Remove</a>
  </div>
</div>
    


    <div >
    <div class="footer">
      <button type="submit" *ngIf="autoClaimsAutoItems.length > 0">Submit</button>
    </div>
<!-- ========================================================================== -->
    <div class="footer">
      <button
        _ngcontent-slc-c17=""
        _ngcontent-ipw-c17=""
        type="submit"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </div>
  </form>
  <svg
    id="clouds"
    alt="Gray Clouds Background"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg>
</div>
