<div class="gios-wrapper">
  <div class="row row-header">
    <div class="row-item">
      <h1>ABCDEF</h1>
    </div>
    <div class="row-item">
      <h1>sdnk</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
    <div class="row-item">
      <h1>dskjdskjd</h1>
    </div>
  </div>
  <div>
    <div class="row row-body">
      <div class="row-item">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="date" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="number" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <select>
            <option *ngFor="let task of otherTasks" [value]="task">
              {{ task }}
            </option>
          </select>
        </div>
      </div>
      <div class="row-item">
        <div class="form-input">
          <input type="text" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button>Submit</button>
  </div>
</div>
