<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
      }

      table,
      td,
      th {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h2>EI - AUTOMATION</h2>

    <table>
      <tr>
        <th>Date</th>
        <th>Scripts</th>
        <th>Date</th>
        <th>Scripts Preparation</th>
        <th>Scripts Executed</th>
        <th>No. of defects Raised</th>
        <th>Data prepration</th>
        <th>Suite Refresh</th>
        <th>Downtime</th>
        <th>Other Activities</th>
        <th>Remarks</th>
      </tr>
      <tr>
        <td>
          <form action="/action_page.php">
            <input type="date" id="birthday" name="birthday" />
            <input type="submit" />
          </form>
        </td>
        <td>Griffin</td>
      </tr>
      <tr>
        <td>Lois</td>
        <td>Griffin</td>
      </tr>
    </table>

    <p><b>Note:</b> dalskdjlakdjlaskjdlaksjdlkassjd</p>
  </body>
</html>
