.row {
  display: flex;
  align-items: center;
}
.row-item {
  width: 10%;
}
.gios-wrapper {
  padding: 30px;
}
.row-item input,
select {
  border: 1px solid #999;
  outline: none;
  box-shadow: none;
  padding: 10px;
  border-radius: 4px;
  width: 80%;
  font-size: 18px;
}
.footer {
  padding: 40px 20px;
  float: right;
}
.footer button {
  padding: 15px 30px;
  background: #6846c7;
  color: #fff;
  font-size: 25px;
  outline: none;
  border: none;
  border-radius: 4px;
}
svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
