<div
  _ngcontent-slc-c17=""
  _ngcontent-ipw-c17=""
  class="container"
  style="padding-left: 650px; padding-right: 650px; padding-top: 200px;"
>
  <label _ngcontent-slc-c17="" _ngcontent-ipw-c17="" for="uname"
    ><b _ngcontent-slc-c17="" _ngcontent-ipw-c17="">Username</b></label
  ><input
    _ngcontent-slc-c17=""
    _ngcontent-ipw-c17=""
    type="text"
    placeholder="Enter Username"
    name="uname"
    required=""
  /><label _ngcontent-slc-c17="" _ngcontent-ipw-c17="" for="psw"
    ><b _ngcontent-slc-c17="" _ngcontent-ipw-c17="">Password</b></label
  ><input
    _ngcontent-slc-c17=""
    _ngcontent-ipw-c17=""
    type="password"
    placeholder="Enter Password"
    name="psw"
    required=""
  /><button
    _ngcontent-slc-c17=""
    _ngcontent-ipw-c17=""
    type="submit"
    (click)="login()"
  >
    Login</button
  ><label _ngcontent-slc-c17="" _ngcontent-ipw-c17=""
    ><input
      _ngcontent-slc-c17=""
      _ngcontent-ipw-c17=""
      type="checkbox"
      checked="checked"
      name="remember"
    />
    Remember me
  </label>
</div>
